<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>联系我们</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <div class="about-header"> -->
    <img src="assets/img/introduction/front.png" alt="ionic logo">
  <!-- </div> -->
  <div padding class="about-info">
    <h4>墨尔本基督教华人卫理公会怀恩堂</h4>

    <ion-list no-lines>
      <ion-item>
        <ion-icon name="contacts" item-start></ion-icon>
        <ion-label>联系人</ion-label>
        <!-- <ion-datetime displayFormat="MMM DD, YYYY" max="2056" [(ngModel)]="conferenceDate"></ion-datetime> -->
      </ion-item>

      <ion-item>
        <ion-icon name="pin" item-start></ion-icon>
        <ion-label>地址</ion-label>
        <ion-select>
          <ion-option value="madison" selected>101B Royal Parade</ion-option>
          <ion-option value="austin">Austin, TX</ion-option>
          <ion-option value="chicago">Chicago, IL</ion-option>
          <ion-option value="seattle">Seattle, WA</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <h2>欢迎</h2>
    <p>
      澳洲基督教华人卫理公会怀恩堂(前普利斯顿布道所)创建于1994年。2012年12月2日建立堂会。
      
      作为澳洲基督教华人卫理公会(CMCA)大家庭成员之一。怀恩堂以大陆背景墨爾本東北區华人为主要宣教对象。主日崇拜使用普通话。
      
      怀恩堂于2014年圣诞节前在墨尔本北区Reservoir购买第一间教堂。2015年5月3日在新教堂举行第一次崇拜。
      
      怀恩堂的每主日崇拜上午10:00AM开始，主理牧师是 洪南明牧师。
      
      详细的常规聚会请点击这里，或者联系我们。
      
      我们热诚的欢迎您加入我们的敬拜。
    </p>
  </div>
</ion-content>
