<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
  <ion-tab [root]="tab1Root" tabTitle="日程" tabIcon="calendar" tabUrlPath="conference-schedule"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="诗歌赞美分享" tabIcon="microphone"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="活动分享" tabIcon="navigate"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="联系我们" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="捐款统计" tabIcon="calculator"></ion-tab>
</ion-tabs>
