<!--
  Generated template for the SurburbsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>surburbs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <button ion-button (click)="takePhotofromcamera()">Take Photo</button>
    <button ion-button (click)="takePhotofromgallery()">Take Photo gallery</button>
    <button ion-button (click)="takeThumbnail()">Take Thumbnail</button>
    <button ion-button (click)="call()">call</button>
    <img *ngIf="image" [src]="image">

</ion-content>
