<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">
        Welcome to <b>ICA</b>
      </h2>
      <p>
        The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/introduction/front.png" class="slide-image"/>
      <h2 class="slide-title">
        欢迎来到<b>卫理公会怀恩堂</b>
      </h2>
      <p>澳洲基督教华人卫理公会怀恩堂(前普利斯顿布道所)创建于1994年。2012年12月2日建立堂会。</p>

      <p>  作为澳洲基督教华人卫理公会(CMCA)大家庭成员之一。怀恩堂以大陆背景墨爾本東北區华人为主要宣教对象。主日崇拜使用普通话。</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image"/>
      <h2 class="slide-title" >What is Ionic?</h2>
      <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-3.png" class="slide-image"/>
      <h2 class="slide-title">What is Ionic Pro?</h2>
      <p><b>Ionic Pro</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title">Ready to Play?</h2>
      <button ion-button icon-end large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
